- content_for :title, "API - отримай дані"
- set_meta_tags description: "How to use the #{Settings.project_name} API to access data about people and votes in parliament and the issues that matter to you."

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1= yield :title
      %p.lead
        Зі скромними навичками програмування ти можеш використовувати сучасну АРІ для того, аби отримати доступ до практично всієї інформації, яка міститься на сайті #{inline_project_name}

.row
  .col-md-10
    %p
      Після виконання запиту ти отримаєш інформацію в JSON форматі

    %p
      Перейди до секції, яка тебе найбільше цікавить

    %ul
      - if current_user.nil?
        %li= link_to "Отримай API ключ", "#key"
      - else
        %li= link_to "Твій персональний API ключ", "#key"
      %li= link_to "Всі депутати, які є в парламенті", "#people"
      %li= link_to "Деталі щодо депутатів", "#person"
      %li= link_to "Всі політики", "#policies"
      %li= link_to "Деталі щодо політики", "#policy"
      %li= link_to "Всі голосування", "#divisions"
      %li= link_to "Деталі щодо голосувань", "#division"
      #%li= link_to "Legacy API", "#legacy"

- if current_user.nil?
  %h2#key Отримати ключ до API
  .row
    .col-md-10
      %p
        Перше, що тобі потрібно, це ключ. Цей ключ тільки для тебе.
        Будь ласка, не передавай і не поширюй його.
      %p
        Ти автоматично отримаєш ключ, якщо
        = link_to "авторизуєшся", new_user_session_path
        або
        = link_to "зареєструєшся", new_user_registration_path, class: "link-signup"
        і повернешся на цю сторінку.
- else
  %h2#key Твій персональний API ключ
  .row
    .col-md-10
      %p
        Твій API ключ <code>#{current_user.api_key}</code>. Цей ключ згенеровано для тебе. Будь ласка,
        не передавай і не поширюй його.
      %p
        Нижче API приклади вже мають включений твій персональний ключ.

%h2#people Всі депутати в парламенті
.row
  .col-md-10
    = render "api/v1/people/docs_index"
  .col-md-2
    = link_to "Редагувати документ", "https://github.com/openaustralia/publicwhip/tree/test/app/views/api/v1/people/_docs_index.md", class: "btn btn-default"

%h2#person Деталі щодо депутатів
.row
  .col-md-10
    = render "api/v1/people/docs_show"
  .col-md-2
    = link_to "Редагувати документ", "https://github.com/openaustralia/publicwhip/tree/test/app/views/api/v1/people/_docs_show.md", class: "btn btn-default"

%h2#policies Всі політики
.row
  .col-md-10
    = render "api/v1/policies/docs_index"
  .col-md-2
    = link_to "Редагувати документ", "https://github.com/openaustralia/publicwhip/tree/test/app/views/api/v1/policies/_docs_index.md", class: "btn btn-default"

%h2#policy Деталі щодо політики
.row
  .col-md-10
    = render "api/v1/policies/docs_show"
  .col-md-2
    = link_to "Редагувати документ", "https://github.com/openaustralia/publicwhip/tree/test/app/views/api/v1/policies/_docs_show.md", class: "btn btn-default"

%h2#divisions Всі голосування
.row
  .col-md-10
    = render "api/v1/divisions/docs_index"
  .col-md-2
    = link_to "Редагувати документ", "https://github.com/openaustralia/publicwhip/tree/test/app/views/api/v1/divisions/_docs_index.md", class: "btn btn-default"

%h2#division Деталі щодо голосувань
.row
  .col-md-10
    = render "api/v1/divisions/docs_show"
  .col-md-2
    = link_to "Редагувати документ", "https://github.com/openaustralia/publicwhip/tree/test/app/views/api/v1/divisions/_docs_show.md", class: "btn btn-default"

#%h2#legacy Legacy API
#.row
#  .col-md-10
#    = render "legacy_api"
#  .col-md-2
#    = link_to "Редагувати документ", "https://github.com/openaustralia/publicwhip/tree/test/app/views/help/_legacy_api.md", class: "btn btn-default"
