%p
  На порталі
  = inline_project_name
  зібрані всі голосування народних депутатів VIII скликання Ради, починаючи листопада 2014 року. Нові голосування
  додаються одразу після їхньої публікації на офіційному порталі Верхової Ради. Ми не надаємо гарантії, що
  ці дані є фінальними,
  #{link_to 'тому повідом нас', about_path(anchor: 'contact')},
  якщо знайдеш якісь фактологічні помилки.
%p
  Сайт містить інформацію про голосування
  %strong= number_with_delimiter(Member.select(:person_id).distinct.count)
  народних депутатів (тих, які були обрані до Верховної Ради VIII скликання і тих, які втратили депутатський мандат) з
  %strong= number_with_delimiter(Member.select(:party).distinct.count)
  депутатських фракцій та груп (включаючи позафракційних та депутатські групи, які припинили існування) за
  %strong= number_with_delimiter(Division.count)
  питання порядку денного. #{inline_project_name} зібрав
  %strong= number_with_delimiter(Vote.count)
  окремих голосувань депутатів,
  %strong= number_with_delimiter(Member.joins(:member_info).sum(:rebellions).to_i)
  з яких були проти більшості їхньої фракції/групи. Це дає можливість вирахувати рейтинг
  голосувань проти лінії фракцій/груп, як
  <strong>#{Member.joins(:member_info).sum(:rebellions) == 0 ? "0%" : "#{number_with_precision((Member.joins(:member_info).sum(:rebellions).to_f / Vote.count.to_f * 100), precision: 2, strip_insignificant_zeros: true)}%"}</strong>.
%p
  %strong= User.count
  зареєстрованих користувачів створили
  %strong= Policy.count
  політик та підсумували
  %strong= Division.edited.count
  голосувань.
