- set_meta_tags description: "Пошук по депутатам, політикам та голосуванням на #{Settings.project_name}."

- if @postcode && !@postcode_error
  - content_for :title, "Результат пошуку #{@postcode}"
- elsif params[:query].blank?
  - content_for :title, "Пошук"
- else
  - content_for :title, (@postcode && @postcode_error ? "Результат пошуку: #{@postcode}" : "Результат пошуку: #{params[:query]}")

- content_for :header do
  .section-header.clearfix
    .page-header.container
      - if @postcode && !@postcode_error
        %h1.long-title
          Обери #{@mps.size.to_words} з яким повязаний #{@postcode}:
      - else
        %form.form-inline.search{action: search_path, name: "pw"}
          %h1.label-heading
            %label{for: "query"} Шукати депутатів, політики та голосування:
          .input-group.col-sm-12.col-md-8.col-lg-7
            %input.form-control#query{required: "required", type: "search", autosave: "#{Settings.project_name}", autofocus: (params[:query].blank? ? true : false), maxlength: "256", name: "query", value: "#{params[:query] if !params[:query].blank?}"}/
            .input-group-btn
              %input.btn.btn-primary{name: "button", type: "submit", value: "Пошук"}/

- if @postcode && !@postcode_error
  = render "members/members", members: @mps, house: nil
- elsif @postcode_error
  = render "home/no_search_results", postcode: @postcode
- elsif !params[:query].blank?
  - if @mps.empty? && @divisions.empty? && @policies.empty?
    = render "home/no_search_results", postcode: nil

  - if !@mps.empty?
    %section.page-section#people
      %h2= pluralize(@mps.count, "person")
      = render "members/members", members: @mps, house: nil

  - if !@policies.empty?
    %section.page-section#policies
      %h2= pluralize(@policies.count, "політик")
      = render "policies", policies: @policies

  - if !@divisions.empty?
    %section.page-section#divisions
      %h2= pluralize(@divisions.count, "голосувань")
      = render "divisions/divisions", member: @member, divisions: @divisions

  %p
    Ти можеш також переглянути перелік
    #{link_to "Голосувань", divisions_path},
    #{link_to "Політик", policies_path}
    та
    #{link_to "Депутатів", members_path}.

