- content_for :title, @member.full_name2
- set_meta_tags description: "Голосування #{@member.name_without_title}’ у парламенті."
:ruby
  set_meta_tags og: {
    title: "Як #{@member.name} голосує за питання, які важливі для Тебе?",
    description: "Дізнайся, як #{@member.name_without_title} голосує у парламенті.",
    type: "profile",
    url: request.original_url,
    image: @member.large_image_url,
    site_name: Settings.project_name
  }
  set_meta_tags twitter: {
    card: "summary",
    site: "@" + Settings.project_twitter,
    image: @member.large_image_url,
    title: "Як #{@member.name} голосує за питання, які важливі для Тебе?",
    description: "Дізнайся, як #{@member.name_without_title} голосує у парламенті."
  }

.vcard
  = render "member_page_header", member: @member
  = render "summary", member: @member
= render "policy_comparisons", member: @member
- if @member.person.has_whip?
  = render "interesting_votes", member: @member
= render "recent_votes", member: @member
= render "possible_friends", member: @member, all_friends: false
